body {
    font-family: 'Raleway';
    color: #212121;
    background-color: #ffffff;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* CABEÇALHO */
.intern {
    position: sticky;
    top: 0;
    background: #00000010;
    backdrop-filter: blur(10px);
}

.areaelements {
    padding-top: 1%;
    height: 50px;
}

.topelements {
    display: flex;
    background: #b4b4b4;
}

.logo-itatech {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 2%;
}

.search-box {
    position: absolute;
    left: 50%;
    height: 20px;
    width: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a1b2d;
    border-radius: 20px;
}
@media screen and (max-width: 440px){
    .logo-itatech{
        padding-top: 1%;
        padding-left: 5%;
    }
    .search-box{
        width: 20%;
        justify-content: center;
    }
    .search-txt{
        height: 0%;
    }
}
.search-txt {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0 15px;
    color: #f0f5fb;
    font-family: 'Raleway';
}

.search-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #0a1b2d;
}

.login {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    right: 20px;
}

.login-btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #0a1b2d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.login-btn:hover {
    background: #622ae4;
    transition: background 0.3s;
}

.details {
    width: 100%;
    display: flex;
    justify-content: center;
}

.element {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.image {
    border-radius: 20px;
    height: 80%;
}

.descriptiontext {
    padding: 2%;
    width: 50%;
}

@media screen and (max-width: 788px) {
    .element {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    .image{
        width: 80%;
    }
    .descriptiontext{
        padding: 0%;
        width: 80%;
    }
}


/* AREA DE PRODUTOS */
.products {
    width: 100%;
    max-width: 100vw;
}

.spaceelement {
    left: 50%;
    justify-content: center;
    padding-bottom: 3%;
}

.topspace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic {
    padding-left: 8%;
    font-family: 'Raleway';
    font-size: 22px;
    font-style: normal;
    color: #464646;
}

.more {
    padding-right: 8%;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    color: #2A7AE4;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.more:hover {
    color: #622ae4;
    transition: 0.3s;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.product {
    text-align: left;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 2%;
}
.productpc {
    visibility: visible;
    text-align: left;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 2%;
}
@media screen and (max-width: 1125px){
    .productpc{
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        height: 0%;
    }
}
@media screen and (max-width: 733px){
    .elements{
        flex-wrap: wrap;
    }
}
.media {
    border-radius: 5%;
    height: 174px;
}

.media:hover {
    transition: 0.3s;
    height: 180px;
    padding-left: 0.3%;
    padding-right: 0.3%;
}

.productname {
    width: 176px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.price {
    width: 176px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.viewproduct {
    width: 100px;
    height: 19px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
}

.viewproduct:hover {
    color: #622ae4;
    transition: 0.3s;
}


/* AREA DO FALE CONOSCO */
.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a1b2d50;
}

.elementsform {
    padding-top: 2%;
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.elementsleft {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo-form {
    width: 30%;
    display: flex;
    justify-content: center;
}

.linksform {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.topicform {
    font-family: 'Raleway';
    font-size: 20px;
    padding-bottom: 4%;
    font-style: 800;
    color: #0a1b2d;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.topicform:hover {
    transition: 0.3s;
    color: #622ae4;
}

@media screen and (max-width: 1000px) {
    .elementsleft {
        justify-content: flex-start;
        flex-direction: column;
    }

    .logo-form {
        width: 90%;
        justify-content: flex-start;
    }

    .linksform {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .elementsform {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .elementsleft {
        justify-content: center;
        width: 100%;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 25%;
        padding-bottom: 2%;
    }

    .logo-form {
        width: 100%;
        justify-content: center;
    }

    .linksform {
        width: 100%;
        text-align: center;
    }
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2%;
}

.name {
    font-family: 'Raleway';
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0;
    border: 4px solid #0a1b2d95;
    background: #0a1b2d95;
    color: #ffffff;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
}

.name::placeholder {
    color: #ffffff90;
}

.mensagem {
    font-family: 'Raleway';
    width: 98%;
    height: 60px;
    border-radius: 10px;
    margin: 10px 0;
    border: 4px solid #0a1b2d95;
    background: #0a1b2d95;
    color: #ffffff;
    outline: none;
    padding: 3%;
}

.mensagem::placeholder {
    color: #ffffff90;
}

.send-btn {
    width: 100px;
    height: 40px;

    border-radius: 20px;
    background: #0a1b2d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.send-btn:hover {
    background: #622ae4;
    transition: background 0.3s;
}



/*PARTE DA AUTORIA*/
.footer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topline {
    padding-top: 2%;
    justify-content: center;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    color: #464646;
}

.jaba {
    padding-left: 5px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    color: #622ae4;
}

.year {
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}